@page
@using Microsoft.AspNetCore.Identity
@using WebAppAutorization.Data.Identity;
@inject SignInManager<ApplicationIdentityUser> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    
</div>

@if (SignInManager.IsSignedIn(User))
{
    <span>Вы вошли в систему</span>
}

else
{
    <span>Вы не вошли в систему</span>
}
